.form4 {
  text-align: center;
  vertical-align: middle;
  /* margin-top: 30px; */
}

.a,
button,
input {
  touch-action: manipulation;
}
.form4 input {
  margin: auto;
}

.form4 label {
  margin: 10px 0 10px 0;
  font-weight: 500;
  color: white;
}
.form4 textarea {
  margin: auto;
}

.btn3 {
  margin-top: 20px !important;
  background-color: rgb(198, 18, 111);
  color: white;
  border-radius: 8px;
  padding: 5px 35px 5px 35px;
  border: none;
}

.body2 {
  background-color: rgb(231, 232, 233);
}

.head {
  background-color: rgb(198, 18, 111);
  color: white;
}

.accord p {
  font-size: 15px;
}

.position {
  padding: 40px 0 40px 0;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
  color: white;
}
